@import "../../node_modules/bootstrap/scss/bootstrap";

span.divider {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}
span.divider:before, span.divider:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
span.divider:before {
  margin-right: 10px;
}
span.divider:after {
  margin-left: 10px;
}
